---
---
{% include header.html %}

<main class="container">
<script type="module" src="firebase/firebase-config.js"></script>

  <a href="tu-gato-ideal.html" class="card">
    <div class="img-box">
      <img src="img/tu-gato-ideal.png" alt="Tu gato ideal">
    </div>
    <h2>Tu gato ideal</h2>
    <p>
      Te damos consejos para elegir bien. Razas, pelajes (pelo corto, largo o sin pelo),
      personalidad, cuidados, edad, convivencia y gastos.
    </p>
  </a>

  <a href="alimentacion.html" class="card">
    <div class="img-box">
      <img src="img/alimentacion-gatos.png" alt="Alimentación para gatos">
    </div>
    <h2>Alimentación</h2>
    <p>
      El cuidado más importante para tener un gato feliz.
      Una alimentación balanceada y equilibrada para cada etapa de su vida.
    </p>
  </a>

  <a href="cuidados.html" class="card">
    <div class="img-box">
      <img src="img/cuidados-gatos.png" alt="Cuidados para gatos">
    </div>
    <h2>Cuidados</h2>
    <p>
      Además de una buena alimentación, existen muchos factores que influyen
      en la calidad de vida de tu mascota. ¡Échale un vistazo!
    </p>
  </a>

</main>

{% include footer.html %}
