---
---
{% include header.html %}

<main class="container">
<script type="module" src="firebase/firebase-config.js"></script>

  <a href="tu-gato-ideal.html" class="card">
    <div class="img-box">
      <img src="img/tu-gato-ideal.png" alt="Tu gato ideal">
    </div>
    <h2>Bienvenid@ 😋</h2>
    <p>
      ¿Que es MIAUPEDIA?
    </p>
  </a>

  <a href="alimentacion.html" class="card">
    <div class="img-box">
      <img src="img/maxwell-cat.gif" alt="Alimentación para gatos">
    </div>
    <h2>Michiposting</h2>
    <p>
      Gatos con acceso a internet XD
    </p>
  </a>

  <a href="foro.html" class="card">
    <div class="img-box">
      <img src="img/parlante.png" alt="Cuidados para gatos">
    </div>
    <h2>Foro</h2>
    <p>
      Necesitas registrarte 😋
    </p>
    <p>
      Comparte fotos y anécdotas de tu gato, comenta con otros amantes felinos.
    </p>
  </a>

</main>

{% include footer.html %}
